[user]
	email = ryuichi.tanimoto@gmail.com
	name = ryuichit
[color]
	ui = auto
[core]
	pager = less -X
[pager]
    log = diff-highlight | less -X
    show = diff-highlight | less -X
    diff = diff-highlight | less -X
